h1#proj_name {
  position: relative;
  text-align: center;
  text-shadow: -1px 0 cyan, 0 1px cyan, 1px 0 cyan, 0 -1px cyan;
}

body {
  height: 100%;
  background: linear-gradient(0deg, #00FFFF 50%, yellow 50%);
}

/*to-do: have the height/width dynamically scale*/
div#core_container {
  height: 550px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  height: 500px;
  width: 350px;
  background: #4A708B;
  border-style: solid;
  border-width: 5px;
  position: relative;
  display: inline-block;
  left: 10px;
}

div#container3 {
  height: 500px;
  width: 350px;
  background: #1ac6ff;
  border-style: solid;
  border-width: 5px;
  position: relative;
  display: inline-block;
  left: 10px;
}

div#sun {
  top: 35px;
  height: 500px;
  width: 350px;
  background: orange;
  position: relative;
  clip-path: circle(50%);
}

div#platform1 {
  position: absolute;
  top: 380px;
  height: 123px;
  width: 350px;
  opacity: 0.8;
  background: aquamarine;
  z-index: 4;
}

div#center_wave_0 {
  position: absolute;
  top: -20px;
  height: 400px;
  width: 350px;
  opacity: 0.5;
  background: purple;
  z-index: 1;
  -webkit-clip-path: polygon(47% 33%, 71% 25%, 88% 31%, 100% 26%, 100% 100%, 0 100%, 0 29%, 14% 34%, 31% 29%);
  clip-path: polygon(47% 33%, 71% 25%, 88% 31%, 100% 26%, 100% 100%, 0 100%, 0 29%, 14% 34%, 31% 29%);
}

div#center_wave_1 {
  position: absolute;
  top: -70px;
  height: 550px;
  width: 350px;
  opacity: 0.5;
  background: blue;
  z-index: 2;
  -webkit-clip-path: polygon(61% 40%, 75% 34%, 90% 40%, 100% 33%, 100% 100%, 0 100%, 0 34%, 13% 43%, 30% 35%, 43% 43%);
  clip-path: polygon(61% 40%, 75% 34%, 90% 40%, 100% 33%, 100% 100%, 0 100%, 0 34%, 13% 43%, 30% 35%, 43% 43%);
}

div#center_wave_2 {
  position: absolute;
  top: 0px;
  opacity: 0.5;
  background: #ADD8E6;
  height: 500px;
  width: 350px;
  z-index: 3;
  -webkit-clip-path: polygon(61% 40%, 75% 34%, 90% 40%, 100% 33%, 100% 100%, 0 100%, 0 34%, 13% 43%, 30% 35%, 43% 43%);
  clip-path: polygon(61% 40%, 75% 34%, 90% 40%, 100% 33%, 100% 100%, 0 100%, 0 34%, 13% 43%, 30% 35%, 43% 43%);
}

/* bear properties */
.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: none;
  border: solid 1px white
}

.head{
  position: absolute;
  top: 16.5%;
  left: 27%;
  width: 45%;
  height: 67%;
  background: #732626;
  border-radius: 13%;
}

.mouth-inner{
  position: absolute;
  top: 40%;
  left: 27%;
  width: 45%;
  height: 42%;
  background: #ff0080;
  border-radius: 35%;
  border: solid 3px #660033
   
}

.mouth-teeth{
  position: absolute;
  top: 55%;
  left: 20%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid #00a3cc;
}

.mouth-teeth1{
  position: absolute;
  top: 55%;
  left: 55%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid #00a3cc;
}

.mouth-teeth-top1{
  position: absolute;
  top: 5%;
  left: 12%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid #00a3cc;
}

.mouth-teeth-top2{
  position: absolute;
  top: 5%;
  left: 37%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid #00a3cc;
}

.mouth-teeth-top3{
  position: absolute;
  top: 5%;
  left: 63%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid #00a3cc;
}

.nose{
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 25%;
  background: #330033;
  border-radius: 13%;
}

.nostril-l{
  position: absolute;
  top: 65%;
  left: 15%;
  width: 25%;
  height: 20%;
  background: #cc0052;
  border-radius: 13%;
}

.nostril-r{
  position: absolute;
  top: 65%;
  left: 60%;
  width: 25%;
  height: 20%;
  background: #cc0052;
  border-radius: 13%;
}

.eye-right{
  position: absolute;
  top: 13%;
  left: 55%;
  width: 35%;
  height: 30%;
  background: #ffffe0;
  border-radius: 30%;
  border: 3px solid pink
}

.eye-left{
  position: absolute;
  top: 13%;
  left: 13%;
  width: 35%;
  height: 30%;
  background: #ffffe0;
  border-radius: 30%;
  border: 3px solid pink
}

.pupil{
  position: absolute;
  top: 13%;
  left: 13%;
  width: 35%;
  height: 30%;
  background: #ffff80;
  border-radius: 30%;
  border: 1px solid pink
}

.ear-left{
  position: absolute;
  top: -25%;
  left: 75%;
  width: 35%;
  height: 30%;
  border-radius: 30%;
  border: 3px solid #ff6666
}

.ear-right{
  position: absolute;
  top: -25%;
  left: -15%;
  width: 35%;
  height: 30%;
  border-radius: 30%;
  border: 3px solid #ff6666
}

/* icecap properties */
.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 700px;
  height: 470px;
  background: #ff9999;
  border: solid 1px white
}

.ice-cap1{
  position: absolute;
  top: 55%;
  left: 20%;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 200px solid #00a3cc;
}

.ice-cap2{
  position: absolute;
  top: 45%;
  left: 30%;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 245px solid transparent;
  border-bottom: 240px solid #00a3cc;
}

.ice-cap3{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 115px solid transparent;
  border-right: 145px solid transparent;
  border-bottom: 230px solid #00a3cc;
}

div.anim-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.7;
  position: absolute;
}

div.head { animation: my-animation 2s ease 0s infinite alternate; }
div.head { animation: my-animation 2s linear 0s infinite alternate; }
div.head { animation: my-animation 2s ease-in 0s infinite alternate; }
div.head { animation: my-animation 2s ease-out 0s infinite alternate; }
div.head { animation: my-animation 2s ease-in-out 0s infinite alternate; }

@keyframes my-animation {
  0% { background: #732626; top: 10%; }
  100% { background: #00caff; top: 60%; }
}
